{% set operation_name = operation.key | replace("_", " ") -%}
"""{{ operation_name | title }} API."""

from {{ package }}.{{ folder }}._generated.{{ operation.key }} import {{ prefix }}{{ operation.class_name }}Base

# This file is created once by spitzeisen-gen and is safe to customize.

class {{ prefix }}{{ operation.class_name }}({{ prefix }}{{ operation.class_name }}Base):
    """{{ (operation.summary or "Access the " ~ operation_name ~ " API.") | py_doc }}"""
