{% set vendor_name = client.vendor | replace("_", " ") | replace("-", " ") | title -%}
"""
Public exports for the {{ vendor_name | py_doc }} SDK.

Created once by spitzeisen-gen and safe to customize.
"""

from {{ client.package }}._async.client import Async{{ client.client_name }}
from {{ client.package }}._sync.client import Sync{{ client.client_name }}
{% if model_names %}from {{ client.package }}.models import {{ model_names | join(', ') }}
{% endif %}
__all__ = (
{%- for name in exported_names %}
    "{{ name }}",
{%- endfor %}
)
